/* 
    Created on : 25.09.2018, 20:09:47
    Author     : user
*/

@media (min-width: 576px) { 
    body {
        padding-top: 5px;
        background-color: gray;
    }
    div.korovnik {
        border-radius: 25px;
        background: #c5c6c6;
        padding: 10px;
        width: 360px;
        height: 410px; 
    }
    div.logo{
        padding: 10px;
        width: 330px;
    }
    img.logo {
        width: 310px;
    }
    div.litos {
        border-radius: 15px;
        background-color: lightskyblue;
        color: darkblue;
        padding: 20px;
        height: 240px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div.mebel {
        border-radius: 15px;
        background-color: lightsalmon;
        color: darkred;
        padding: 20px;
        height: 240px;
        margin-bottom: 10px;        
        margin-top: 10px;
    }
    .selector{
        padding-top: 10px;
    }

}

@media (max-width: 576px) { 
    body {
        padding-top: 10px;
        background-color: gray;
    }
    img.logo {
        width: 220px;
    }
    img.pomp_heater{
        width: 33px;
    }
    div.logo{
        padding: 10px;
        width: 240px;
    }
    div.korovnik {
        border-radius: 25px;
        background: #c5c6c6;
        padding: 10px;
        width: 290px;
        height: 400px; 
    }
    div.litos {
        border-radius: 15px;
        background: lightskyblue;
        color: darkblue;
        padding: 10px;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div.mebel {
        border-radius: 15px;
        background: lightsalmon;
        color: darkred;
        padding: 10px;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .selector{
        padding-top: 5px;
    }
}

span#litos_temp, span#mebel_temp {
    font-size: 25px;
}